
body{
    margin: 0%;
    background-color: #f3efee ;
}

/*HEADER*/
#header{
    background-color: #ce334e;
    float: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 20%;

}

#logo{
    width: 20%;
    height: 20%;
    padding: 0%;
    margin: 0%;
    float: none;
    
}

.frase{
    color: #c2c0c0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 1%;
    margin: 0%;
    text-align: center;
    height: 30%;
    width: auto;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}


/*NAVEGACION*/

#nav{
    background-color: #f3efee;
    margin-inline: 0px;
    margin: 0%;
    padding-top: 0%;

    
}

.menu{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.navegacion1{
    float: left;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    padding: 20px;
    
}

.navegacion2{
    float: left;
    margin-left: 8%;
    margin-right: 8%;
    padding: 20px;
    align-items: center;
    
}
.navegacion3{
    float: right;
    margin-left: 8%;
    margin-right: 8%;
    padding: 20px;
    
    align-items: center;
    
}
.navegacion4{
    float: right;
    margin-left: 8%;
    margin-right: 8%;
    padding: 20px;
    align-items: center;
    
    text-decoration: none;  /*REVISAR*/
}


.indice{
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
    color: #ce334e;
    
}

li{
    color: #ce334e;
    
}


/* TARJETAS DE CASAS*/

.casas {
    display: flex; 
}


.tarjeta img {
    width: 100%;
    height: auto;
}

.contenido {
    padding: 20px;
}

.contenido h3 {
    margin-top: 0;
}

.contenido p {
    margin-bottom: 0;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
}

.botoncasa{
    border-color: #ffffff;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    padding: 5px;
}

.casaizquierda {
    margin-right: auto;
    width: 300px;
    
    box-shadow: rgb(150,150,150) 3px 3px;
    border-radius: 8px;
    overflow: hidden;
    margin: 100px;
    background-color: white;
}

.casamedio {
    margin: 0 auto; 
    width: 300px;
    box-shadow: rgb(150,150,150) 3px 3px;
    border-radius: 8px;
    overflow: hidden;
    margin: 100px;
    background-color: white;
}

.casaderecha {
    margin-left: auto; 
    width: 300px;
    box-shadow: rgb(150,150,150) 3px 3px;
    border-radius: 8px;
    overflow: hidden;
    margin: 100px;
    background-color: white;
}
    
/*PIE DE PAG*/
button{
    border-radius: 10px;
    background-color: #ce334e;
}
.btnya{
    border-color: #E6E3DD;
    
    overflow: hidden;
    margin-left: 660px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
    width: 190px;

}
.textoboton{
    color: white;
    width: 100%;
    height: fit-content;
    font-size: medium;
    
}

#footer{
    background-color: #ce334e;
    margin: 0%;
    float: none;
    padding: 20px;
    margin: 0px;
    width: 100%;
    height: fit-content;
}

.email{
    margin-left: 650px;
}

.enviar{
    float: none;
}
.textofooter{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 1%;
    margin: 0%;
    text-align: center;
    height: 30%;
    width: auto;
    text-align: center;
}